
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<li>
    <ul><a href="/products/details">Laptop</a></ul>
    <ul><a href="/products/details">Tablet</a></ul>
    <ul><a href="/products/details">Desktop </a></ul>
</li>